#logo, #center-text {
    display: block;
    top: 50%;
}

#logo {
  z-index: 1;
  position: relative;
  transform: translateY(-50%);
      margin-left: auto;
      margin-right: auto;
}

#center-text {
  z-index: 0;
  transform: translateY(-50%);
  padding-left: 48%;
}

.content {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2%;
}

body {
  position: relative;
  z-index: 1;
}
